# Raw & intermediate data
# Ignore CSV data files
data/raw/**/*.csv
data/intermediate/**/*.csv
data/processed/**/*.csv

# Allow README files
!data/**/README.md

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db


# Env
.env
